footer{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.footer-container{
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bouton{
    background: none;
    border: none;
}
.social{
    border-radius: 50%;
    max-width: 2rem;
    max-height: 2rem;
    margin-left: 1rem;
}
.footer-legal{
    display: flex;
    border-top: 0.1rem solid black;
    justify-content: center;
}
.footerlink{
    display: flex;
    align-items: center;
    color: black;
    margin-right: 1rem;
    text-decoration: underline;
}
.imageSocial{
    height: 2rem;
    width: 2rem;
    margin-left: -0.2rem;
    margin-top: -0.8rem;
}
.general-footer{
    display: block;
    justify-content: center;
    text-align: left;
    padding-bottom: 0.5rem;
}
.logo-footer{
    padding-right: 5rem !important;
}