.accueil{
    display: block;
}
section{
    display: flex;
    justify-content: center;
}
.section1{
    background-image: url("../src/assets/G_icon_16_16.png");
    background-size:auto;
    background-repeat: repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: auto;
    block-size:20rem;
    align-items: center;
    display: flex;
    justify-content: left;
    
}
.searchdiv{
    display: flex;
    background-color: blue;
    margin-left: 10rem;
}
.tagList{
    display: flex;
    margin-left:10rem;
}
.section2{
    display: block;
    justify-self: stretch;
}
.resultList{
    display:flex;
    flex-direction: column;
}
.commentaireproduit{
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 11.4rem;
}
.nombreproduit{
    display: flex;
}
p{
    text-align:center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.titreListe{
    margin-left: 11rem;
}
.detailProduit{
    text-align: inherit;
    margin-left: 0rem;
    margin-right: 0rem;
    font-size:small;
    
}
.resultOutputzone{
    display: block;
    
}
.imageProduit{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 15rem;
    background-color: lightgrey;
}

.produit{
    display:block;
    text-align: left;
    align-items: center;
    align-content: space-evenly;
    margin-top: 1rem;
    border:0.2rem solid black;
    width: 15rem;
    padding: 0rem;
    
}
.ligneProduit{
    display: flex;
    justify-content: space-evenly;
}
footer{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.footer-bouton{
    background: none;
    border: none;
}
.social{
    border-radius: 50%;
    max-width: 2rem;
    max-height: 2rem;
    margin-left: 1rem;
}
.footer-legal{
    display: flex;
    border-top: 0.1rem solid black;
    justify-content: center;
}
.footerlink{
    display: flex;
    align-items: center;
    color: black;
    margin-right: 1rem;
    text-decoration: underline;
}
.imageSocial{
    height: 2rem;
    width: 2rem;
    margin-left: -1rem;
    margin-top: -0.8rem;
}

.searchbar{
    width: 90rem !important;
}
.searchOrder{
    margin-right: -4rem;
}
.searchButton{
    display: flex;
    justify-content: space-between;
}
.connexionForm{
    margin-left: 10rem;
}